<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food</title>
    <style>
        body {
            background-color: steelblue;
            color: blanchedalmond;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 20px;
        }

        h1 {
            text-align: center;
            text-shadow: 1px 2px black;
        }

        ul {
            list-style-type: none;
            text-align: center;
            line-height: 2.5;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        a {
            text-decoration: none;
            color: #fff;
        }

        a:hover {
            color: chocolate;
        }

        p {
            text-align: center;
        }

    
    </style>
</head>

<body>
    <h1>Food Homepage</h1>
    <ul>
        <% for(let i=0; i < allFoods.length; i++){%>
            <li><a href="/foods/<%= i;%>">
                    <%= allFoods[i].name %>
                </a></li>

            <%} %>
    </ul>
    <br>
    <br>
    <p>Wanna Check out the Drinks?...🥃</p><br>
    <p><a href="/drinks">Click Here</a></p>
</body>

</html>