<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Show</title>
</head>
<body>
    <h1>Showing Food 😋</h1>
    <p>
      Name: <%= food.name %> <br>
      Price: $<%= food.price %> <br>
      <img src="<%= food.image %>" alt="food"> 
    </p>

    <a href="/foods">Back to Foods</a>
</body>
</html>