<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>HomePage</title>
</head>
<style>
    body {
        background-color: steelblue;
        color: blanchedalmond;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
    }
h1 {
    text-align: center;
    text-shadow: 1px 2px black;
    

}
    ul {
        list-style-type: none;
        text-align: center;
        line-height: 2.5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }

    
 a {
    text-decoration: none;
    color: #fff;
 }

 a:hover {
    color: chocolate;
 }

p {
    text-align: center;
}
</style>

<body>
    <h1>Eatery & Winery LLC</h1>
    
    <ul>
        <% for(let i=0; i < allDrinks.length; i++){%>
            <li><a href="/drinks/<%= i; %>">
                    <%= allDrinks[i].name %>
                </a></li>

            <%} %>
    </ul>
    <br>
    <br>
    <p>Wanna Check out the foods?...🍱</p><br>
    <p><a href="/foods">Click Here</a></p>
</body>

</html>