<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page</title>
</head>

<body>
    <h1>Show Page</h1>
    <hr>
    <p>
        Name : <%= drink.name %> <br>
            Price: $<%= drink.price %> <br>
                <img src="<%= drink.image + '.jpg' %>" alt="drink">

    </p>
    <a href="/drinks">Back to HomePage</a>
</body>

</html>